.HeroText{
 position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   font-family: "Helvetica Neue";
   text-align: center;
}

.HeroText h1{
  color: #fff;
  font-size: 38px;
  font-weight: bold;
  background-color: transparent;
}

.HeroText .P1{
  color: #fff;
  font-size: 20px;
  font-weight: medium;
  background: transparent;
  margin-top: 2%;
}

