.hero-section{
    position: relative;
  background-image: url('../assets/HeroBanner.png');
   background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
  background-position: top;
  height: 700px;
}

.hero-section .navbar{
  padding: 14px 4%;
  z-index: 1;
}

.hero-section .btn {
  background-color: red;
  padding: 8px 20px;
  color: #fff;
  font-weight: bold;
}

.hero-section .btn:hover {
  background-color: rgb(196, 0, 0);
  color: #fff;
}


.hero-section .banner{
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    background-attachment:local;
    background: rgb(0 0 0 / 25%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


@media (max-width: 391px)  {
  .hero-section .logo{
  width: 120px;
  cursor: pointer;
}
.hero-section .btn{
  padding: 8px 12px;
  color: #fff;
}


}