@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

.navbar {
    width: 100vw;
    font-family: 'Fira Sans', sans-serif; 
    background: transparent;
}

.navbar .navbar-expand-lg .container {
    background: transparent;
}

.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    background: transparent;
}

.navbar img{
    background: transparent;
}

.navbar select{
    padding: 8px 20px;
    margin-right: 20px;
    background-color: #464646;
    border: 2px solid #ffffff;
    border-radius: 6px;
    color: #fff;
}

.navbar .btn{
    background-color: red;
       padding: 8px 20px;
       color: #fff;
          font-weight: bold;
}

.navbar .btn:hover{
    background-color: rgb(196, 0, 0);
}