.PlanBanner {
    background-color: black;
}

.PlanBanner .container{
      width: 100%;
    display: flex;
    justify-content: center;
background: radial-gradient(
  51.39% 511.66% at 47.68% -217.91%,
  #ff9900 0%,
  #f91520 26.27%,
  #17255d 79.44%,
  #0b183f 100%
);
    box-shadow: 0px -8px 25px rgba(0, 0, 0, 0.5);
    transform: translateY(-50%);
    border-radius: 4px;
    color: white;
    padding: 18px 14px;
    margin: 0 auto;
}

.PlanBanner .center-text{
    text-align: left;
}

.PlanBanner img{
    display: block;
}

.PlanBanner h2{
    font-size: 22px;
    color: #fff;
     font-weight: bold;
}

.PlanBanner p{
    width: 350px;
    font-size: 18px;
    color: #fff;
        font-weight: semibold;
        padding: 0;
}

.PlanBanner a{
    border: none;
    background-color: none;
    font-weight: 500;
color: #458DF3;
}


@media (max-width: 391px) {

.PlanBanner .center-text{
    text-align: left;
}

.PlanBanner img{
    transform: scale(1);
    margin-top: -80px;
    margin-left: 30px;
    padding-bottom: 5%;
}

.PlanBanner h2{
    font-size: 22px;
    color: #fff;
     font-weight: bold;
     padding-left: 6%;
}

.PlanBanner p{
    width: 350px;
    font-size: 18px;
    color: #fff;
    font-weight: semibold;
    padding-left: 6%;   
}

.PlanBanner a{
    border: none;
    background-color: none;
    font-weight: 500;
    color: #458DF3;
    padding-left: 6%;   
}

   
}