@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

 {/*.App {
  position: relative;
  background-image: url('./assets/HeroBanner.png');
   background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;
  background-position: top;
  height: 700px;
}

.top-bar{
  position: absolute;
  top:5%;
}*/}

.hero-container {
height: 700px;
background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0.4) 60%, rgba(0, 0, 0, 0.7) 100%);
background-attachment:local;
}

.navbar {
  position: relative;
  width: 100vw;
  font-family: 'Fira Sans', sans-serif;
  background: linear-gradient(rgb(176, 176, 176, 0.1), transparent);
}

.navbar-expand-lg .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
  background: transparent;
  padding: 0;
}

.navbar img {
  background: transparent;
}

.navbar select {
  padding: 8px 20px;
  margin-right: 20px;
  background-color: #464646;
  border: 2px solid #ffffff;
  border-radius: 6px;
  color: #fff;
}

.navbar .btn {
  background-color: red;
  padding: 8px 20px;
  color: #fff;
  font-weight: bold;
}

.navbar .btn:hover {
  background-color: rgb(196, 0, 0);
}
